<form id="login" action="/login" method="post">
    <div class="row">
        <label for="email">Email :</label>
        <input type="email" name="email" id="email">
    </div>
    <div class="row">
        <label for="password">Password :</label>
        <input type="password" name="password" id="password">
    </div>
    <div class="row">
        <button>Submit</button>
    </div>
</form>

