<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/css/default.css" rel="stylesheet">
    <title>Guardian Status</title>
</head>
<body>
    <h1>Login Page</h1>
    <h2>Login with PSN</h2>
    <form id="login" action="/login" method="post">
        <div class="row">
            <label for="email">Email :</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="row">
            <label for="password">Password :</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="row">
            <button>Submit</button>
        </div>
    </form>
</body>
</html>

